.card {
	@apply relative w-[250px] h-[350px] overflow-hidden;
}
.card-media {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transition: transform 0.6s ease-in-out;
	cursor: pointer;
	object-fit: cover;
}

.indicator {
	position: absolute;
	bottom: 16px;
	left: 50%;
	transform: translateX(-50%);
}

.indicator-button {
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: #ccc;
	cursor: pointer;
	border: none;
}

.indicator-button.active {
	background-color: #fff;
}

.thin-line-through {
	text-decoration: line-through;
	text-decoration-thickness: 1px;
}

.group-hover-effect {
	padding: 1rem;
	transition: transform 0.3s ease-in-out;
}
.group:hover .group-hover-effect {
	transform: translateY(0.25rem);
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
